html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
body{
    width:100%;
}
*{
  font-family: Hiragino Sans,"ヒラギノ角ゴシック",Hiragino Kaku Gothic ProN,"ヒラギノ角ゴ ProN W3",Roboto,"Droid Sans",YuGothic,"游ゴシック",Meiryo,"メイリオ",Verdana,"ＭＳ Ｐゴシック",sans-serif;
}
body{
  padding:0;
  margin:0;
}
header{
  height: 62px;
  width: 100%;
}
header a{
  display: block;
  text-align: center;
}
header img{
  padding-top: 15px;
  width: 168px;
}
/*-------------------------------------------------------*/
.vegas{
  height: 700px;
  position: relative;
  width: 100%;
}
.white{
  background-color: white;
}
.white-one{
  height: 700px;
  position: absolute;
  width: 100%;
}
.sns{
  display: none;
}
.sns ul{
  float: right;
  list-style-type: none;
}
.sns li{
  float: left;
}
.sns li a{
  font-size: 35px;
}
.fa-facebook{
  color: #4C67B8;
}
.enjoy{
  margin: 145px auto 0 auto;
  overflow: hidden;
  position: relative;
  width: 581px;
}
.enjoy-wrap{
  margin-left: -581px;
  width: 100%;
}
.one{
  box-sizing: border-box;
  position: relative;
}
.two{
  position: relative;
  top:-10px;
}
.three{
  position: relative;
  top:-20px;
}
.four{
  position: relative;
  top:-30px;
}
.white-two{
  background-color: white;
  height: 102px;
  position: absolute;
  width: 581px;
}
.white-three{
  background-color: white;
  height: 102px;
  position: absolute;
  width: 581px;
}
.white-four{
  background-color: white;
  height: 102px;
  position: absolute;
  width: 581px;
}
.white-five{
  background-color: white;
  height: 57px;
  position: absolute;
  width: 581px;
}
.name .vegas-transition-fade-out{
  display: none;
}
/*---------------------------------------------------------------*/
@media(max-width:768px){
  .vegas{
    height: auto!important;
  }
  .vegas::before{
    content: "";
    display: block;
    padding-top: 70%;
    width: 100%;
  }
  .enjoy{
    margin: 0px auto 0 auto;
    overflow: hidden;
    position: relative;
    width: 60%;
  }
  .enjoy::before{
    content: "";
    display: block;
    padding-top: 20%;
    width: 60%;
  }
  .enjoy-wrap{
    margin-left: -581px;
    width: 100%;
  }
  .enjoy img{
    width: 100%;
  }
}
/*----------------------------------------------------------------*/
.sports{
  background-color: transparent;
  height: 850px;
  position: relative;
  top:-250px;
  width: 100%;
}
.orange{
  height: auto;
  overflow: hidden;
  margin-left: -100%;
  position: absolute;
  top:0;
  width: 100%;
}
.center{
  display:flex;
  justify-content:center;
  align-items:center;
}
.center-two{
  display:flex;
  justify-content:center;
  align-items:center;
}
.name{
  background-size: cover;
  float: right;
  height: 40px;
  position: absolute;
  top:110px;
  right: 100px;
  width: 170px;
}
.blue{
  height: auto;
  overflow: hidden;
  margin-right: -100%;
  padding-bottom: 200px;
  position: absolute;
  top:0;
  width: 100%;
}
.blue-img{
  margin-right: -150%;
}
.main{
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0 25px;
  width: 768px;
}
.tour-wrap{
  display:flex;
  justify-content:center;
  align-items:center;
  height: 163px;
  position: relative;
  top:30px;
  left: 15px;
  width: 150px;
}
.tour{
  width: 150px;
}
.tourism{
  padding-left: 55px;
}
.main p{
  color: white;
  font-size: 14px;
  font-style: 游ゴシック ;
  font-weight: 400;
  line-height: 26px;
}
.photo{
  display: flex;
  float: left;
  justify-content:center;
  margin:  0 auto;
  overflow: hidden;
  position: relative;
  top:750px;
  text-align: center;
  width: 100%;
}
.photo img{
  padding: 5px;
}
.fadein{
  opacity : 0;
  transform: translateY(40px);
  transition: all 1.0s;
}
.fadein-two{
  opacity : 0;
  transform: translateY(50px);
  transition: all 1.0s;
}
.photo-sm{
  display: none
}
/*------------------------------------------------------*/
@media(max-width:768px){
  .sports{
    height: 700px;
    top:-210px;
    width: 100%;
  }
  .tour-wrap{
    display:flex;
    justify-content:center;
    align-items:center;
    height: auto;
    position: relative;
    top:10px;
    left: 5px;
    width: 25%!important;
  }
  .main{
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    top:100px;
    width: 100%;
  }
  .tour{
    width: 100%!important;
  }
  .tourism{
    display: block;
    margin: 0 auto 20px;
    padding-left: 0px;
    width: 80%;
  }
  .main p{
    box-sizing: border-box;
    font-size: 12px;
    line-height: 19px;
    padding: 0 25px;
    width: 100%;
  }
  .photo{
    display: none;
  }
  .photo-sm{
    display: block;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
  .photo-sm img{
    display: inline-block;
    padding: 3px;
    text-align: center;
    width: 47%;
  }
}
/*----------------------------------------------------------*/
.texts{
  overflow: hidden;
  position: relative;
  z-index: 100;
}
.texts h1{
  text-align: center;
}
.contents{
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  width: 980px;
}
.con-left{
  margin-right: 20px;
  width: 50%;
}
.con-left img{
  box-sizing: border-box;
  float: left;
  padding: 5px;
  width: 50%;
}
.con-right{
  padding: 5px;
  width: 50%;
}
.con-right p{
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}
.con-right p:first-child{
  margin-bottom: 15px;
}
.person{
  align-items:center;
  display: flex;
  margin-top: 20px;
  padding-left: 100px;
}
.person img{
  height: 130px;
  width: 130px;
}
.person h1{
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  padding-left: 25px;
}
.person h1 span{
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.fadein-three{
  opacity : 0;
  transform: translateY(40px);
  transition: all 1.0s;
}
.fadein-four{
  opacity : 0;
  transform: translateY(50px);
  transition: all 1.0s;
}
.fadein-five{
  opacity : 0;
  transform: translateY(40px);
  transition: all 1.0s;
}
.fadein-six{
  opacity : 0;
  transform: translateY(50px);
  transition: all 1.0s;
}
/*----------------------------------------------------------*/
@media(max-width:768px){
  .texts{
    background-color: transparent;
    height: auto;
    width: 100%;
  }
  .texts img{
    width: 60%;
  }
  .contents{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
  }
  .con-left{
    order:2;
    margin-right: 20px;
    width: 100%;
  }
  .con-left img{
    box-sizing: border-box;
    float: left;
    padding: 5px;
    width: 50%;
  }
  .con-right{
    order: 1;
    padding: 5px;
    width: 100%;
  }
  .con-right p{
    font-size: 12px;
    line-height: 19px;
    padding: 0 25px;
  }
  .person{
    padding-left: 50px;
  }
  .person img{
    height: auto;
    width: 25%;
  }
  .person h1 span{
    font-size: 15px;
    line-height: 21px;
  }
}
/*------------------------------------------------------------*/
.athlete{
  background-color: transparent;
  height: 1000px;
  overflow: hidden;
  position: relative;
  top:-120px;
  width: 100%;
}
.white-six{
  background-color: white;
  position: absolute;
  height: 1000px;
  width: 100%;
  z-index: 10;
}
.back{
  height: auto;
  overflow: hidden;
  margin-left: -100%;
  position: absolute;
  top:0;
  width: 100%;
}
.center{
  display:flex;
  justify-content:center;
  align-items:center;
}
.top{
  height: auto;
  overflow: hidden;
  margin-left: -100%;
  position: absolute;
  top:0;
  width: 100%;
}
.triangle-left{
  position: absolute;
  margin-left: -300px;
  top:825px;
}
.triangle-right{
  position: absolute;
  right: 0;
  margin-right: -300px;
  top:250px;
}
.challenge{
  height: 500px;
  left: 120px;
  position: absolute;
  top: 230px;
  width: 650px;
}
.athlete-challenge{
  display: block;
  float: right;
  margin-bottom: 40px;
  width: 300px;
}
.clear{
  clear: both;
}
.h1{
  display: block;
  width: auto;
  margin: 0 auto;
}
.challenge-text{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 550px;
}

.challenge p{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 20px;
  padding-left: 25px;
  width: 500px;
  word-wrap: break-word;
}
.challenge-text a{
  background-color: black;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin: 10px auto 0;
  padding: 5px 5px 5px 15px;
  text-align: center;
  width: 100px;
}
.challenge-text:hover{
  opacity: 0.7;
}
.challenge-text i{
  padding-left: 10px;
}
.two-photo{
  position: absolute;
  top:740px;
  left: 180px;
  width: 800px;
}
.two-photo img{
  padding: 5px;
  width: 300px;
}
.fadein-seven{
  opacity : 0;
  transform: translateY(50px);
  transition: all 1.0s;
}
.fadein-eight{
  opacity : 0;
  transform: translateY(50px);
  transition: all 1.0s;
}
.athlete-sm{
  display: none;
}
/*-------------------------------------------------------------*/
@media(max-width:768px){
  .athlete{
    display: none;
  }
  .white-seven{
    background-color: white;
    position: absolute;
    height: 900px;
    width: 100%;
    z-index: 10;
  }
  .athlete-sm{
    display: block;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .famous-person img{
    width: 100%;
  }
  .athlete-top{
    display: block;
    position: absolute;
    top:5px;
    width: 100%;
  }
  .athlete-top img{
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  .texts-sm{
    background-color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    margin: 0 auto ;
    padding-top: 30px;
    position: relative;
    top:-170px;
    width: 95%;
  }
  .athlete-challenge-sm{
    display: block;
    margin: 0 auto 20px;
    width: 70%;
  }
  .texts-sm a{
    background-color: black;
    color: white;
    display: block;
    margin: 15px auto;
    padding: 8px 10px 8px 30px;
    text-align: center;
    width: 100px;
  }
  .texts-sm i{
    padding-left: 20px;
  }
  .two-photo-sm{
    margin-bottom: -50px;
    position: relative;
    top:-170px;
    width: 100%;
  }
  .two-photo-sm img{
    width: 49%;
  }
  .two-photo-sm img:first-child{
    margin-right: 1px;
  }
  .fadein-nine{
    opacity : 0;
    transform: translateY(50px);
    transition: all 1.0s;
  }
  .fadein-ten{
    opacity : 0;
    transform: translateY(50px);
    transition: all 1.0s;
  }
  .fadein-eleven{
    opacity : 0;
    transform: translateY(50px);
    transition: all 1.0s;
  }
  .fadein-twelve{
    opacity : 0;
    transform: translateY(50px);
    transition: all 1.0s;
  }
}
/*---------------------------------------------------------------*/
.pickup{
  margin-top: -70px;
  overflow: hidden;
  width: 100%;
}
.pickup-img{
  margin: 0 auto 100px;
  width: 300px;
}
.green{
  background: linear-gradient(to right,#8ED483,#47D1D9);

}
.green-top{
  display: block;
  position: relative;
  top:-70px;
  margin: 0 auto -90px;
  width: 1032px;
}
.green-top img{
  padding:8px;
}
.kinds{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1032px;
}
.intro{
  width: 100%;
}
.intro img{
  display: block;
  margin: 50px auto 20px auto;
  width: 400px;
}
.left{
  background-color: white;
  box-sizing: border-box;
  margin: 8px;
  padding-bottom: 10px;
  position: relative;
  width: 490px;
}
.left:hover{
  opacity: 0.7;
}
.right{
  background-color: white;
  box-sizing: border-box;
  padding-bottom: 10px;
  position: relative;
  margin: 8px;
  width: 490px;
}
.right:hover{
  opacity: 0.7;
}
.left img,.right img{
  width: 490px;
}
.kinds h1{
  background-color: #56BD6A;
  color:white;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  padding: 10px 15px;
  position: absolute;
  top:0;
}
.kinds h2{
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 5px 10px;
}

.kinds p{
  border: solid 1px #CACACA;
  border-radius: 15px;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  padding: 3px 10px;
}
.kinds p:first-of-type{
  margin-left: 10px;
}
.kinds p:last-of-type{
  background-color: black;
  border: none;
  border-radius: 0;
  color:white;
  padding: 10px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.four-kinds{
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  width: 1032px;
}
.four-act{
  background-color: white;
  margin: 8px;
  padding-bottom: 15px;
  position:relative;
  width: 242px;
}
.four-act:hover{
  opacity: 0.7;
}
.four-act img{
  width: 242px;
}
.four-act h2{
  background-color: #56BD6A;
  color:white;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  padding: 10px 15px;
  position: absolute;
  top:0;
}
.four-act h1{
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 5px 10px;
}
.four-act p{
  background-color: black;
  border: none;
  border-radius: 0;
  color:white;
  padding: 5px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.add{
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin: 0  auto;
  padding:20px 8px 80px;
  width: 1032px;
}
.green-top-sm{
  display: none;
}
.pc{
  display: block;
}
/*----------------------------------------------------------*/
@media(max-width:768px){
  .pickup{
    margin-top: -70px;
    overflow: hidden;
    width: 100%;
  }
  .pickup-img{
    margin: 0 auto 50px;
    width: 40%;
  }
  .kinds{
    width: 100%;
  }
  .first{
    margin-top: -50px;
  }
  .green-top{
    display: none;
  }
  .green-top-sm{
    display: inline-block;
    height: 150px;
    margin-bottom: -60px;
    position: relative;
    top:-20px;
    text-align: center;
    width: 100%;
  }
  .green-top-sm img{
    display: inline-block;
    width: 47%;
  }
  .green-top-sm img:first-child{
    padding-right: 5px;
    transform: translateY(-10px);
  }
  .intro img{
    display: block;
    margin: 15px auto 10px auto;
    width: 60%;
  }
  .left{
    background-color: white;
    box-sizing: border-box;
    margin: 8px auto;
    padding-bottom: 10px;
    position: relative;
    width: 95%;
  }
  .right{
    background-color: white;
    box-sizing: border-box;
    margin: 8px auto;
    padding-bottom: 10px;
    position: relative;
    width: 95%;
  }
  .left img,.right img{
    width: 100%;
  }
  .kinds h2{
    font-size: 13px;
    line-height: 20px;
  }
  .four-kinds{
    width: 96%;
  }
  .four-act{
    background-color: white;
    margin: 8px auto;
    padding-bottom: 15px;
    position:relative;
    width: 47%;
  }
  .four-act h1{
    font-size: 13px;
    line-height: 20px;
  }
  .four-act img{
    width: 100%;
  }
  .add{
    padding:20px 10px;
    width: 98%;
  }
  .pc{
    display: none;
  }
}
/*----------------------------------------------------------*/
.official{
  overflow: hidden;
  padding: 40px 0 60px;
  width: 100%;
}
.official img{
  display: block;
  margin: 0 auto;
  width: 1016px;
}
.official img:hover{
  opacity: 0.7;
}
footer{
  background-color: #F7412D;
}
footer p{
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 5px;
  text-align: center;
}
@media(max-width:768px){
  .official{
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    width: 100%;
  }
  .official img{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
